body {
  margin: normal;
  line-height: normal;
}

:root {
  /* fonts */
  --font-gilroy: Gilroy;
  --font-trajan-pro-3: Trajan Pro 3;
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-lgi-9: 19.9px;
  --font-size-3xl-7: 22.7px;
  --font-size-30xl-8: 49.8px;
  --font-size-6xl-6: 25.6px;
  --font-size-8xl: 27px;
  --font-size-lg-5: 18.5px;
  --font-size-2xl-9: 21.9px;
  --font-size-4xl-1: 23.1px;
  --font-size-17xl-5: 36.5px;

  /* Colors */
  --color-white: #fff;
  --color-lightgreen-100: #65c466;
  --color-darkgray-100: #a9a9a9;
  --color-darkgray-200: #9d9d9d;
  --color-darkgray-300: #959aa6;
  --color-silver-100: #c2c2c2;
  --color-silver-200: #c2c1c2;
  --color-lightgray: #ccc;
  --color-darkslategray-100: #414141;
  --color-dimgray: #696969;
  --color-linen: #e8e2d5;

  /* border radiuses */
  --br-5xs-1: 7.1px;
  --br-407xl-4: 426.4px;
  --br-mini-2: 14.2px;
  --br-smi-2: 12.2px;
  --br-8xs: 5px;
}

