.child {
  position: absolute;
  top: 1397px;
  left: -439px;
  background: linear-gradient(164.44deg, #fff, rgba(255, 255, 255, 0)),
    linear-gradient(-13.32deg, #fff, rgba(255, 255, 255, 0) 62.85%), #f6f6f6;
  width: 2729.05px;
  height: 1361.68px;
}
.b {
  top: 205.57px;
  left: 213.77px;
  text-transform: uppercase;
  display: inline-block;
  color: var(--color-darkslategray-100);
  text-align: center;
  width: 142.14px;
  height: 31.27px;
}
.b,
.b1,
.b2 {
  position: absolute;
}
.b1 {
  top: 205.57px;
  left: 477.94px;
  text-transform: uppercase;
  display: inline-block;
  color: var(--color-darkslategray-100);
  text-align: center;
  width: 116.55px;
  height: 31.27px;
}
.b2 {
  left: 716.32px;
  width: 132.19px;
}
.b2,
.b3,
.b4 {
  top: 205.57px;
  text-transform: uppercase;
  display: inline-block;
  color: var(--color-darkslategray-100);
  text-align: center;
  height: 31.27px;
}
.b3 {
  position: absolute;
  left: 933.79px;
  width: 241.63px;
}
.b4 {
  left: 1260.71px;
  width: 162.04px;
}
.b4,
.b5,
.item {
  position: absolute;
}
.b5 {
  top: 205.57px;
  left: 1508.03px;
  text-transform: uppercase;
  display: inline-block;
  color: var(--color-darkslategray-100);
  text-align: center;
  width: 100.92px;
  height: 31.27px;
}
.item {
  top: 162.93px;
  left: 128.49px;
  background-color: #c4c4c4;
  width: 1663.02px;
  height: 1.42px;
}
.group-icon,
.vector-icon,
.vector-icon1 {
  position: absolute;
  height: 0.28%;
  width: 1.24%;
  top: 4.08%;
  right: 79.55%;
  bottom: 95.64%;
  left: 19.21%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon,
.vector-icon1 {
  right: 67.13%;
  left: 31.63%;
}
.group-icon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: .2s;
}
.group-icon:hover .box {
  -webkit-transform: scale(2);
  -ms-ransform: scale(2);
  transform: scale(2);
}
.group {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 0.65%;
  width: 1.78%;
  top: 3.9%;
  right: 11.21%;
  bottom: 95.45%;
  left: 87.02%;
}
.group-child,
.inner,
.oqmzwnd3thu-icon {
  position: absolute;
  top: 1085.41px;
  left: 128.49px;
  height: 284.28px;
}
.oqmzwnd3thu-icon {
  border-radius: 7.11px;
  width: 1663.02px;
  object-fit: cover;
}
.group-child,
.inner {
  width: 858.51px;
}
.group-child {
  top: 0;
  left: 0;
  border-radius: 12.5px;
  background-color: var(--color-white);
  width: 450.58px;
  height: 213.21px;
}
.p {
  margin: 0;
}
.div1,
.div2 {
  position: absolute;
  left: 34.11px;
  display: inline-block;
}
.div1 {
  top: 31.27px;
  font-size: 28.43px;
  text-transform: uppercase;
  font-family: var(--font-trajan-pro-3);
  width: 416.46px;
  height: 34.11px;
}
.div2 {
  top: 76.75px;
  color: var(--color-darkslategray-100);
  width: 393.72px;
  height: 44.06px;
}
.div3,
.group-item {
  position: absolute;
  left: 0;
  width: 343.97px;
}
.group-item {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-lightgreen-100);
  top: 0;
  border-radius: 6.25px;
  box-shadow: 0 5.001825332641602px 37.51px rgba(0, 0, 0, 0.25);
  height: 46.91px;
}
.div3 {
  top: 12.79px;
  font-weight: 600;
  display: inline-block;
  height: 22.74px;
}
.rectangle-group {
  position: absolute;
  top: 137.87px;
  left: 34.11px;
  width: 343.98px;
  height: 46.91px;
  text-align: center;
  color: var(--color-white);
}
.rectangle-parent {
  position: absolute;
  top: 1129.47px;
  left: 176.82px;
  width: 450.58px;
  height: 213.21px;
  font-size: 18.48px;
  color: rgba(101, 196, 102, 0.7);
}
.div4,
.div5 {
  font-size: 49.75px;
  font-family: var(--font-trajan-pro-3);
  color: var(--color-lightgreen-100);
  display: inline-block;
  height: 59.7px;
}
.div4 {
  position: absolute;
  top: 1446.44px;
  left: 604.65px;
  text-align: center;
  width: 720.64px;
  transition: 1s;
}
.div4:hover {
  width: 900px;
  height: 80px;
  box-shadow: 0 15px 15px -10px rgba(0,0,0, .5);
}
.div5 {
  top: 2653.19px;
  left: 128.49px;
  width: 1663.02px;
}
.img:div5 {
  filter: sepia(30%);
}
.div5,
.div6,
.div7,
.div8,
.div9 {
  position: absolute;
  text-align: center;
}
.div6 {
  top: 4165.54px;
  left: 128.49px;
  font-size: 49.75px;
  font-family: var(--font-trajan-pro-3);
  color: var(--color-lightgreen-100);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1663.02px;
  height: 59.7px;
}
.div7,
.div8,
.div9 {
  top: 1541.67px;
  left: 274.89px;
  color: var(--color-darkslategray-100);
  display: inline-block;
  width: 1374.48px;
  height: 62.54px;
}
.div8,
.div9 {
  top: 2731.37px;
  left: 799.38px;
  width: 325.5px;
  height: 31.27px;
}
.div9 {
  top: 4252.25px;
  left: 519.37px;
  width: 881.26px;
  height: 59.7px;
}
.a48ceba7baf9de7b45d0cbfebecfbb-icon,
.smiling-civil-engineer-working-icon {
  position: absolute;
  top: 1677.78px;
  left: 700.26px;
  border-radius: 12.16px;
  width: 509.53px;
  height: 729.64px;
  object-fit: cover;
}
.smiling-civil-engineer-working-icon {
  top: 1742.23px;
  left: 1230.47px;
  width: 465.76px;
  height: 657.89px;
}
.group-child1,
.group-child2,
.group-child3,
.group-child4,
.group-inner,
.rectangle-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-lightgreen-100);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4.97px;
  width: 82.58px;
  height: 9.95px;
}
.group-child1,
.group-child2,
.group-child3,
.group-child4,
.rectangle-button {
  background-color: var(--color-linen);
  left: 307.44px;
}
.group-child1,
.group-child2,
.group-child3,
.group-child4 {
  left: 204.96px;
}
.group-child2,
.group-child3,
.group-child4 {
  left: 512.41px;
}
.group-child3,
.group-child4 {
  left: 409.93px;
}
.group-child4 {
  left: 102.48px;
}
.group-div,
.rectangle-container {
  position: absolute;
  top: 4871.97px;
  left: 661.51px;
  width: 594.99px;
  height: 9.95px;
}
.group-div {
  top: 2458.46px;
  left: 662.93px;
}
.thumb-585-1-icon {
  position: absolute;
  top: 1742.23px;
  left: 222.34px;
  border-radius: 12.16px;
  width: 465.76px;
  height: 657.89px;
  object-fit: cover;
}
.div10,
.div11 {
  position: absolute;
  left: 274.63px;
}
.div10 {
  top: 2054.76px;
  font-size: 36.48px;
  font-weight: 500;
  font-family: var(--font-roboto);
  display: inline-block;
  width: 355.09px;
  height: 85.12px;
}
.div11 {
  top: 2149.61px;
  font-size: 23.11px;
  width: 392.79px;
  height: 133.77px;
}
.div11,
.div12,
.div13,
.div14 {
  font-family: var(--font-roboto);
  display: inline-block;
}
.div12 {
  position: absolute;
  top: 2108.27px;
  left: 754.98px;
  font-size: 23.11px;
  width: 408.6px;
  height: 107.01px;
}
.div13,
.div14 {
  font-size: 36.48px;
  font-weight: 500;
  height: 42.56px;
}
.div13 {
  position: absolute;
  top: 2048.68px;
  left: 753.77px;
  width: 409.82px;
}
.div14 {
  top: 2077.86px;
  left: 1286.4px;
  text-align: center;
  width: 331.99px;
}
.div14,
.div15,
.group1 {
  position: absolute;
}
.div15 {
  top: 2130.15px;
  left: 1286.4px;
  font-size: 23.11px;
  font-family: var(--font-roboto);
  display: inline-block;
  width: 364.82px;
  height: 107.01px;
}
.group1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 1.09%;
  width: 2.98%;
  top: 2064.49px;
  right: 8.49%;
  bottom: 59.46%;
  left: 1699.87px;
}
.vector-icon2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: -100%;
  right: 100%;
  bottom: 100%;
  left: -100%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group2,
.group3 {
  position: absolute;
  transform: rotate(-180deg);
  transform-origin: 0 0;
}
.group3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.group2 {
  height: 1.09%;
  width: 2.98%;
  top: 40.54%;
  right: 86.08%;
  bottom: 58.36%;
  left: 10.95%;
}
.rectangle-div {
  top: 2856.45px;
  left: 131.33px;
  border-radius: 14.21px;
  background-color: var(--color-white);
  box-shadow: 0 0 28.43px #dedede;
  width: 383.77px;
  height: 324.08px;
}
.child1,
.div16,
.rectangle-div {
  position: absolute;
}
.child1 {
  top: 2856.45px;
  left: 557.75px;
  border-radius: 14.21px;
  background-color: var(--color-white);
  border: 1.4px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 383.77px;
  height: 324.08px;
}
.div16 {
  top: 3001.43px;
  left: 577.65px;
  font-size: var(--font-size-lgi-9);
  font-weight: 500;
  color: var(--color-darkgray-200);
  display: inline-block;
  width: 345.4px;
  height: 120.82px;
}
.child2 {
  top: 2856.45px;
  left: 984.16px;
  border-radius: 14.21px;
  background-color: var(--color-white);
  border: 1.4px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 383.77px;
  height: 324.08px;
}
.child2,
.child3,
.div17 {
  position: absolute;
}
.div17 {
  top: 3001.43px;
  left: 1004.06px;
  font-size: var(--font-size-lgi-9);
  font-weight: 500;
  color: var(--color-darkgray-200);
  display: inline-block;
  width: 345.4px;
  height: 144.98px;
}
.child3 {
  top: 2856.45px;
  left: 1410.58px;
  border-radius: 14.21px;
  background-color: var(--color-white);
  border: 1.4px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 383.77px;
  height: 324.08px;
}
.div18,
.div19 {
  position: absolute;
  top: 3001.43px;
  left: 1430.48px;
  font-size: var(--font-size-lgi-9);
  font-weight: 500;
  color: var(--color-darkgray-200);
  display: inline-block;
  width: 345.4px;
  height: 144.98px;
}
.div19 {
  left: 151.23px;
}
.location-2 {
  position: absolute;
  top: 2934.63px;
  left: 1045.28px;
  width: 48.33px;
  height: 48.33px;
  overflow: hidden;
}
.child4,
.div20,
.div21 {
  position: absolute;
  top: 2859.29px;
  left: 122.81px;
  width: 140.72px;
  height: 140.72px;
}
.div20,
.div21 {
  top: 2906.2px;
  left: 250.73px;
  font-size: 22.74px;
  font-weight: 600;
  color: var(--color-dimgray);
  display: inline-block;
  width: 245.9px;
  height: 56.86px;
}
.div21 {
  left: 677.15px;
  width: 223.16px;
}
.child5,
.div22 {
  position: absolute;
  top: 2859.29px;
  left: 549.22px;
  width: 140.72px;
  height: 140.72px;
}
.div22 {
  top: 2906.2px;
  left: 1103.56px;
  font-size: 22.74px;
  font-weight: 600;
  color: var(--color-dimgray);
  display: inline-block;
  width: 223.16px;
  height: 56.86px;
}
.child6 {
  top: 2859.29px;
  left: 975.64px;
  width: 140.72px;
  height: 140.72px;
}
.child6,
.child7,
.div23 {
  position: absolute;
}
.div23 {
  top: 2906.2px;
  left: 1529.97px;
  font-size: 22.74px;
  font-weight: 600;
  color: var(--color-dimgray);
  display: inline-block;
  width: 257.27px;
  height: 56.86px;
}
.child7 {
  top: 2859.29px;
  left: 1402.05px;
  width: 140.72px;
  height: 140.72px;
}
.button,
.button1,
.button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 2311.35px;
  left: 371.92px;
  font-size: 21.89px;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 167.82px;
  height: 25.54px;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.button1,
.button2 {
  left: 1380.04px;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.button2 {
  top: 2304.05px;
  left: 871.72px;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.button:hover{
  color: #5265f6; /* Меняем цвет текста */
}
.button1:hover{
  color: #5265f6; /* Меняем цвет текста */
}
.button2:hover{
  color: #5265f6; /* Меняем цвет текста */
}
.child8 {
  position: absolute;
  top: 3341.14px;
  left: -410.21px;
  width: 2740.42px;
  height: 690.79px;
}
.span {
  color: var(--color-lightgreen-100);
}
.p2 {
  margin: 0;
  color: var(--color-darkslategray-100);
}
.div24,
.div25,
.div26 {
  position: absolute;
  display: inline-block;
}
.div24 {
  top: 0;
  left: 0;
  font-size: 49.75px;
  font-family: var(--font-trajan-pro-3);
  width: 660.94px;
  height: 179.09px;
  color: var(--color-lightgreen-100);
}
.div25,
.div26 {
  top: 244.48px;
  left: 42.64px;
  font-weight: 600;
  width: 582.77px;
  height: 93.81px;
}
.div26 {
  top: 382.35px;
  width: 379.51px;
  height: 62.54px;
}
.ellipse-div,
.group-child11 {
  position: absolute;
  top: 250.16px;
  left: 0;
  border-radius: 50%;
  border: 2.8px solid var(--color-lightgreen-100);
  box-sizing: border-box;
  width: 17.06px;
  height: 17.06px;
}
.group-child11 {
  top: 388.04px;
}
.parent {
  position: absolute;
  top: 3456.27px;
  left: 135.6px;
  width: 660.94px;
  height: 444.89px;
  color: var(--color-darkslategray-100);
}
.iphone-x-mockup-1-icon {
  position: absolute;
  top: 3302.76px;
  left: 816.44px;
  width: 513.12px;
  height: 751.91px;
  object-fit: cover;
}
iphone-x-mockup-1-icon:nth-child(1):hover img {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.div27,
.group-child12 {
  position: absolute;
  left: 0;
}
.div27 {
  top: 0;
  font-weight: 500;
  display: inline-block;
  width: 223.16px;
  height: 31.27px;
}
.group-child12 {
  top: 110.87px;
  background-color: var(--color-lightgreen-100);
  width: 378.09px;
  height: 2.84px;
}
.span1 {
  color: var(--color-darkslategray-100);
}
.span2 {
  color: var(--color-silver-200);
}
.input {
  border: 0;
  font-family: var(--font-gilroy);
  font-size: 25.58px;
  background-color: transparent;
  position: absolute;
  top: 4.26px;
  left: 59.7px;
  text-align: left;
  display: inline-block;
  width: 98.08px;
  height: 31.27px;
}
.group-icon2 {
  position: absolute;
  height: 96%;
  width: 21.62%;
  top: 0;
  right: 78.38%;
  bottom: 4%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.container,
.parent1 {
  position: absolute;
  top: 56.86px;
  left: 0;
  width: 157.77px;
  height: 35.53px;
}
.container {
  top: 0;
  width: 378.09px;
  height: 113.71px;
}
.span3 {
  text-decoration: underline;
  color: var(--color-darkslategray-100);
  cursor: pointer;
}
.span3:hover{
  color: #ffa000; /* Меняем цвет ссылки */
}
.div28 {
  position: absolute;
  top: 395.14px;
  left: 8.53px;
  font-size: 14.21px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  width: 346.82px;
  height: 34.11px;
}
.div29,
.group-child13 {
  position: absolute;
  left: 0;
}
.div29 {
  top: 0;
  font-weight: 500;
  display: inline-block;
  width: 307.02px;
  height: 31.27px;
}
.group-child13 {
  top: 106.6px;
  background-color: var(--color-dimgray);
  width: 378.09px;
  height: 2.84px;
}
.group-icon3,
.input1 {
  position: absolute;
  top: 0;
}
.input1 {
  border: 0;
  font-family: var(--font-gilroy);
  font-size: 25.58px;
  background-color: transparent;
  left: 59.7px;
  color: var(--color-darkslategray-100);
  text-align: left;
  display: inline-block;
  width: 197.57px;
  height: 31.27px;
}
.group-icon3 {
  height: 100%;
  width: 12.43%;
  right: 87.57%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child14,
.parent2,
.parent3 {
  position: absolute;
  top: 56.86px;
  left: 0;
  width: 257.27px;
  height: 31.98px;
}
.group-child14,
.parent2 {
  top: 154.93px;
  width: 378.09px;
  height: 109.45px;
}
.group-child14 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-lightgreen-100);
  top: 0;
  border-radius: 7.11px;
  width: 336.87px;
  height: 62.54px;
}
.div30 {
  position: absolute;
  top: 17.06px;
  left: 25.58px;
  font-weight: 500;
  display: inline-block;
  width: 287.12px;
  height: 31.27px;
}
.rectangle-parent1 {
  position: absolute;
  top: 298.49px;
  left: 21.32px;
  width: 336.87px;
  height: 62.54px;
  text-align: center;
  color: var(--color-white);
}
.group-parent {
  position: absolute;
  top: 3463.38px;
  left: 1389.26px;
  width: 378.09px;
  height: 429.26px;
  color: var(--color-darkgray-100);
}
.group-child15 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 14.21px;
  background-color: var(--color-white);
  box-shadow: 0 0 28.43px rgba(0, 0, 0, 0.08) inset;
  width: 813.03px;
  height: 392.3px;
}
.div31 {
  position: absolute;
  top: 115.13px;
  left: 78.18px;
  font-weight: 500;
  display: inline-block;
  width: 554.34px;
  height: 98.08px;
}
.a,
.star-icon {
  position: absolute;
  height: 25.58px;
}
.a {
  text-decoration: none;
  top: 314.13px;
  left: 183.36px;
  font-size: 18.48px;
  font-weight: 600;
  color: var(--color-lightgreen-100);
  display: inline-block;
  width: 173.41px;
}
.star-icon {
  top: 41.22px;
  left: 78.8px;
  width: 25.58px;
}
.div32,
.group-child16,
.group-child17,
.group-child18,
.group-child19 {
  position: absolute;
  top: 41.22px;
  left: 115.76px;
  width: 25.58px;
  height: 25.58px;
}
.div32,
.group-child17,
.group-child18,
.group-child19 {
  left: 152.71px;
}
.div32,
.group-child18,
.group-child19 {
  left: 189.67px;
}
.div32,
.group-child19 {
  left: 226.63px;
}
.div32 {
  top: 271.48px;
  left: 183.36px;
  font-size: 25.58px;
  font-family: var(--font-trajan-pro-3);
  color: var(--color-darkslategray-100);
  display: inline-block;
  width: 173.41px;
  height: 31.27px;
}
.ne-stremitsya-20170002-1-icon {
  position: absolute;
  top: 264.38px;
  left: 78.18px;
  border-radius: 426.41px;
  width: 75.33px;
  height: 75.33px;
  object-fit: cover;
}
.rectangle-parent2,
.rectangle-parent3 {
  position: absolute;
  top: 4398.65px;
  left: 127.07px;
  width: 813.03px;
  height: 392.3px;
  font-size: 27.01px;
  color: var(--color-dimgray);
}
.rectangle-parent3 {
  left: 979.9px;
}
.group-child26 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1.4px solid var(--color-lightgreen-100);
  box-sizing: border-box;
  width: 42.64px;
  height: 42.64px;
}
.arrow-icon {
  position: absolute;
  top: 16.09px;
  left: 10.66px;
  width: 22.03px;
  height: 10.47px;
}
.ellipse-parent,
.group-child27 {
  position: absolute;
  width: 42.64px;
  height: 42.64px;
}
.ellipse-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 4573.48px;
  left: 105.75px;
}
.group-child27 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1.4px solid var(--color-lightgreen-100);
  box-sizing: border-box;
  width: 42.64px;
  height: 42.64px;
}
.ellipse-group,
.group-child28 {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 21.32px;
  height: 1;
  transform: rotate(180deg);
}
.ellipse-group {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 4616.12px;
  left: 1814.25px;
  width: 42.64px;
  height: 42.64px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.child9 {
  position: absolute;
  top: 4934.51px;
  left: -404.53px;
  background-color: #243246;
  width: 2729.05px;
  height: 298.49px;
}
.div35 {
  top: 4997.05px;
  left: 128.49px;
  font-size: 27.01px;
  font-weight: 500;
  color: var(--color-darkgray-300);
  width: 554.34px;
  height: 31.27px;
}
.a2,
.a3,
.a4,
.a5,
.a6,
.a7,
.div35,
.div36 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div36 {
  top: 5180.41px;
  left: 128.49px;
  font-size: var(--font-size-lgi-9);
  font-weight: 500;
  text-align: center;
  justify-content: center;
  width: 1663.02px;
  height: 24.16px;
}
.a2,
.a3,
.a4,
.a5,
.a6,
.a7 {
  text-decoration: none;
  top: 5001.31px;
  left: 567.7px;
  text-transform: uppercase;
  font-weight: 700;
  color: inherit;
  width: 116.55px;
  height: 31.27px;
}
.a3,
.a4,
.a5,
.a6,
.a7 {
  top: 5068.12px;
  width: 153.51px;
}
.a4,
.a5,
.a6,
.a7 {
  left: 1147.62px;
  width: 136.45px;
}
.a5,
.a6,
.a7 {
  top: 5001.31px;
  left: 796.54px;
  width: 171.99px;
}
.a6,
.a7 {
  top: 5068.12px;
  width: 257.27px;
}
.a7 {
  top: 4997.05px;
  left: 1147.62px;
  width: 143.56px;
}
.span4 {
  color: var(--color-white);
}
.txt {
  line-break: anywhere;
  width: 100%;
}
.a8,
.infoclassica-prava {
  text-decoration: none;
  position: absolute;
  left: 1537.08px;
  font-weight: 600;
  color: var(--color-darkgray-300);
  display: flex;
  align-items: center;
  height: 31.27px;
}
.a8 {
  top: 4995.63px;
  text-transform: uppercase;
  width: 248.74px;
}
.infoclassica-prava {
  top: 5043.96px;
  font-size: 22.74px;
  width: 292.8px;
}
.group-icon4 {
  position: absolute;
  height: 0.41%;
  width: 1.11%;
  top: 5002.74px;
  right: 21.2%;
  bottom: 3.99%;
  left: 1491.6px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon5,
.group-icon6,
.group-icon7,
.group-icon8,
.vector-icon3,
.vector-icon4 {
  position: absolute;
  height: 0.19%;
  width: 0.4%;
  top: 5053.95px;
  right: 21.13%;
  bottom: 13.23%;
  left: 1505.67px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon6,
.group-icon7,
.group-icon8,
.vector-icon3,
.vector-icon4 {
  right: 5053.95px;
  left: 1490.6px;
  
}
.group-icon7,
.group-icon8,
.vector-icon3,
.vector-icon4 {
  height: 0.17%;
  width: 1.18%;
  top: 5051.06px;
  right: 21.13%;
  bottom: 3.31%;
}
.group-icon8,
.vector-icon3,
.vector-icon4 {
  height: 0.13%;
  top: 96.69%;
  bottom: 3.18%;
}
.vector-icon3,
.vector-icon4 {
  height: 19.14%;
  width: 19.14%;
  top: 40.43%;
  right: 40.43%;
  bottom: 40.43%;
  left: 40.43%;
}
.vector-icon4 {
  height: 47.08%;
  width: 47.08%;
  top: 26.46%;
  right: 26.46%;
  bottom: 26.46%;
  left: 26.46%;
}
.vector-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 0.79%;
  width: 2.15%;
  top: 97.04%;
  right: 85.36%;
  bottom: 2.17%;
  left: 12.49%;
}
.vector-icon6,
.vector-icon8 {
  position: absolute;
  height: 0.75%;
  width: 2.03%;
  top: 97.04%;
  right: 88.3%;
  bottom: 2.21%;
  left: 9.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon8 {
  height: 22.22%;
  width: 22.22%;
  top: 40.04%;
  right: 37.74%;
  bottom: 37.74%;
  left: 40.04%;
}
.vector-group {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 0.75%;
  width: 2.03%;
  top: 97.04%;
  right: 91.13%;
  bottom: 2.21%;
  left: 6.84%;
}
.vector-icon9 {
  position: absolute;
  height: 12.9%;
  width: 35.16%;
  top: 6.59%;
  right: 60.36%;
  bottom: 80.51%;
  left: 4.47%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mask-group-icon {
  position: relative;
  top: 296.54px;
  left: 77.32px;
  width: 663.79px;
  height: 690.79px;
  object-fit: cover;
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
}
.mask-group-icon:hover {
  -webkit-transform: rotate(15deg); /* Градусы поворота можно изменить по необходимости */
          transform: rotate(15deg); /* Градусы поворота можно изменить по необходимости */
}
.div37,
.div38 {
  position: absolute;
  left: 839.18px;
  display: inline-block;
}
.div37 {
  top: 386.09px;
  font-size: 49.75px;
  font-family: var(--font-trajan-pro-3);
  color: var(--color-lightgreen-100);
  width: 952.33px;
  height: 59.7px;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.div37:hover {
  color: #e4fe24; /* Меняем цвет текста */
  -webkit-text-shadow: 2px 2px 2px #000;
  -moz-text-shadow: 2px 2px 2px #000;
      text-shadow: 2px 2px 2px #000;
}
.div38 {
  top: 467.11px;
  font-size: 22.74px;
  color: var(--color-darkslategray-100);
  width: 869.89px;
  height: 81.02px;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.div38:hover {
  text-decoration:line-through;
}
.group-child29 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-lightgreen-100);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 7.11px;
  box-shadow: 0 5.685527801513672px 21.32px rgba(0, 0, 0, 0.25);
  width: 264.38px;
  height: 61.12px;
}
.group-child29:hover {
  -o-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}
.group-child29:hover:before {
	width: 100%;
}
.div39 {
  position: absolute;
  top: 18.48px;
  left: 44.06px;
  font-weight: 600;
  display: inline-block;
  width: 176.25px;
  height: 24.16px;
}
.rectangle-parent4 {
  position: absolute;
  top: 954.64px;
  left: 839.18px;
  width: 264.38px;
  height: 61.12px;
  text-align: center;
  font-size: var(--font-size-lgi-9);
}
.group-child30 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 7.11px;
  background-color: var(--color-white);
  box-shadow: 0 0 21.32px rgba(0, 0, 0, 0.1);
  border: 1.4px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 952.33px;
  height: 171.99px;
  box-shadow: 15px 15px 5px -5px rgba(0,0,0,.2)
}
.input2 {
  border: 0;
  font-weight: 500;
  font-family: var(--font-gilroy);
  font-size: var(--font-size-lgi-9);
  background-color: transparent;
  position: absolute;
  top: 28.43px;
  left: 28.43px;
  color: var(--color-silver-100);
  text-align: left;
  display: inline-block;
  width: 211.79px;
  height: 24.16px;
}
.group-child31,
.rectangle-parent5 {
  position: absolute;
  top: 690.26px;
  left: 839.18px;
  width: 952.33px;
  height: 171.99px;
}
.group-child31 {
  top: 0;
  left: 0;
  border-radius: 7.11px;
  background-color: var(--color-white);
  box-shadow: 0 0 21.32px rgba(0, 0, 0, 0.1);
  border: 1.4px solid var(--color-lightgray);
  box-sizing: border-box;
  height: 73.91px;
  box-shadow: 15px 15px 5px -5px rgba(0,0,0,.2)
}
.input3 {
  border: 0;
  font-weight: 500;
  font-family: var(--font-gilroy);
  font-size: var(--font-size-lgi-9);
  background-color: transparent;
  position: absolute;
  top: 25.58px;
  left: 28.43px;
  color: var(--color-silver-100);
  text-align: left;
  display: inline-block;
  width: 315.55px;
  height: 24.16px;
}
.div40,
.rectangle-parent6 {
  position: absolute;
  top: 590.77px;
  left: 839.18px;
  width: 952.33px;
  height: 73.91px;
}
.div40 {
  top: 1.42px;
  left: 44.06px;
  display: inline-block;
  width: 753.33px;
  height: 24.16px;
}
.group-input,
.parent4 {
  position: absolute;
  height: 25.58px;
}
.group-input {
  cursor: pointer;
  top: 0;
  left: 0;
  width: 25.58px;
}
.parent4 {
  top: 893.52px;
  left: 839.18px;
  width: 797.4px;
  font-size: var(--font-size-lgi-9);
  color: #a3a3a3;
}
.child10,
.ellipse-icon {
  position: absolute;
  top: 421.62px;
  left: 1628.05px;
  border-radius: 50%;
  width: 194.73px;
  height: 194.73px;
  object-fit: cover;
}
.child10 {
  top: 427.31px;
  left: 1633.73px;
  width: 183.36px;
  height: 183.36px;
}
.wrap:hover .child10 {
  -webkit-transform: scale(2);
  -ms-ransform: scale(2);
  transform: scale(2);
}
.group-icon9 {
  height: 46.91px;
  width: 46.91px;
  top: 477.06px;
  right: 8.91%;
  bottom: 89.99%;
  left: 1702px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.child11,
.div41,
.group-icon9 {
  position: absolute;
}
.div41 {
  top: 528.23px;
  left: 1697.7px;
  font-size: 11.37px;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  width: 56.86px;
  height: 14.21px;
}
.child11 {
  top: 8px;
  left: 128.49px;
  border-radius: 7.11px;
  background-color: var(--color-lightgreen-100);
  width: 1663.02px;
  height: 142.14px;
  
}
.child11:hover {
  background-image: -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 116, color-stop(1%, #57fdfe), color-stop(100%, #2c95dd));
  background-image: -webkit-radial-gradient(center bottom, farthest-side, #57fdfe 1%, #2c95dd 100%);
  background-image: -moz-radial-gradient(center bottom, farthest-side, #57fdfe 1%, #2c95dd 100%);
  background-image: -ms-radial-gradient(center bottom, farthest-side, #57fdfe 1%, #2c95dd 100%);
  background-image: -o-radial-gradient(center bottom, farthest-side, #57fdfe 1%, #2c95dd 100%);
  background-image: radial-gradient(farthest-side at center bottom, #57fdfe 1%, #2c95dd 100%);
  }
.div42 {
  top: 63.43px;
  left: 1176.04px;
  font-size: var(--font-size-lgi-9);
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  width: 284.28px;
  height: 24.16px;
}
.a9,
.div42,
.div43 {
  position: absolute;
  display: inline-block;
}
.div43 {
  top: 87.6px;
  left: 837.5px;
  font-size: var(--font-size-lgi-9);
  font-weight: 600;
  width: 244.48px;
  height: 24.16px;
}
.a9 {
  text-decoration: none;
  top: 40.69px;
  left: 836.37px;
  font-size: 31.27px;
  font-weight: 700;
  color: inherit;
  width: 342.55px;
  height: 38.38px;
}
.child12,
.group-icon10 {
  position: absolute;
  top: 50.61px;
  left: 807.92px;
  width: 21.39px;
  height: 21.39px;
}
.child12 {
  cursor: pointer;
  border: 2.8px solid var(--color-white);
  padding: 0;
  background-color: transparent;
  top: 40.69px;
  left: 1176.04px;
  border-radius: 7.11px;
  box-sizing: border-box;
  width: 284.28px;
  height: 66.8px;
}
.mask-group-icon1 {
  position: absolute;
  top: 21.5px;
  left: 161.18px;
  width: 122.24px;
  height: 122.24px;
  object-fit: cover;
}
.b6,
.button3 {
  position: absolute;
}
.b6 {
  top: 42.11px;
  left: 213.77px;
  font-size: 45.48px;
  display: inline-block;
  width: 427.84px;
  height: 65.38px;

}

.button3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 71.33px;
  left: 1471.36px;
  font-size: 19.35px;
  line-height: 124.19%;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--font-gilroy);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 269.32px;
  height: 53.22px;
}
.group-icon11 {
  position: absolute;
  height: 0.68%;
  width: 1.85%;
  top: 40.69px;
  right: 15.47%;
  bottom: 98.54%;
  left: 1587.47px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  transition: 1s;
}
.group-icon11:hover {
  outline: 5px solid #9E8463;
  outline-offset: 5px;
}
.div {
  position: relative;
  background-color: var(--color-white);
  width: 1980px;
  height: 5233px;
  overflow: hidden;
  text-align: left;
  font-size: 25.58px;
  color: var(--color-white);
  font-family: var(--font-gilroy);
}
#scroll_top {
	display: none;
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 1000;
	width: 32px;
	height: 32px;
	background: url(https://snipp.ru/img/scroll_top.png) 50% 50% no-repeat;
	border-radius: 50%;
	opacity: 0.5;
}
#scroll_top:hover {
 	opacity: 1;
}

html, body {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
}
.div55 {
  position: absolute;
  top: 140px;
  left: 330px;
}
